@use '../../styles/markdown-style'as *;
@use 'prismjs/themes/prism-tomorrow'as *;

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  .divider {
    width: 100px;
    height: 0.5px;
    border-bottom: 1px solid var(--post-card-border-color);
    margin: auto;
    margin-top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
}