@use '../../styles/mixins'as *;

.round-navigation__wrapper {
  position: relative;
  width: 165px;
  height: 165px;
  border-radius: 100%;
  background: #E6E6E6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .current-line {
    height: 165px;
    width: 0.5px;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%) rotate(0deg);
  }
  .current-line:after {
    content: "";
    position: absolute;
    left: -1px;
    height: 82.5px;
    width: 0.5px;
    border: 1px solid #FF5C00;
    z-index: 2;
  }

  .link {
    position: absolute;
    display: flex;
    margin: auto;
    // border: 1px solid black;
    width: 20px;
    height: 20px;
    :hover {
      color: #FF5C00;
      // .line {
      //   border: 1px solid #FF5C00;
      // }
    }
  }

  .line {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    margin: auto;
    border: 1px solid #000000;
    width: 20px;
  }

  .label {
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
  }

  .link--12 {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0px) rotate(90deg);
    .label {
      left: -32px;
      transform: translate(0%, -50%) rotate(-90deg);
    }
  }
  .link--3 {
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    .label {
      left: 28px;
    }
  }
  .link--6 {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px) rotate(270deg);
    .label {
      left: -40px;
      transform: translate(0%, -50%) rotate(90deg);
    }
  }
}