@use '../../styles/mixins'as *;
@use '../../styles/variables'as *;

.post-tabs-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  top: 0px;
  width: 100%;

  .post-tabs {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: $content-max-width + 40px;
    margin-bottom: 12px;
    overflow-x: auto;

    .custom-tabs {
      display: flex;
      gap: 4px;
      padding: 4px;

      .custom-tab {
        height: 40px;
        min-width: auto;
        padding: 10px 12px;
        font-family: $font-family;
        color: var(--tab-text-color);
        font-weight: 500;
        font-size: 12px;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: all 200ms ease;
        white-space: nowrap;
        border-radius: 8px;

        &:hover {
          color: var(--tab-hover-text-color);
          background-color: var(--tab-selected-background-color);
        }

        &.active {
          background-color: var(--tab-selected-background-color);
          color: var(--tab-hover-text-color);
          font-weight: 600;
        }
      }
    }
  }
}
