// app
// $theme-gradient: linear-gradient(72deg, #291e95, #cc007a);
$theme-gradient: linear-gradient(72deg, #FFEB3B, #FFC107);
$top-header-text-color: #000;

/**
 * @light theme
 */

// body
$light-background-color: white;
$light-background-image: linear-gradient(
  20deg,
  #7ac5d8 0%,
  #f9a8c3 19%,
  #97d9e1 42%,
  #f9efa9 79%,
  #ffffff 100%
);
$light-text-shadow: 0 0 0.1px rgba(0, 0, 0, 0.3);
$light-hover-text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

// index
$dimmed-color: #eef5db;
$light-link-color: #000080;
$dark-gray: #333;
$middle-gray: #7d7d7d;
$light-gray: #aaa;

// blog-templates
$navigator-text-color: #585858;
$navigator-background-color: #ecececf7;
$blockquote-text-color: #999;

// code
$inline-dimmed-color: #ffffff2e;
$inline-text-color: #ff8300;

// category
$light-category-border-color: #9e9e9e00;
$light-category-highlight-border-color: #909da1;
$light-category-background-color: #cecece40;
$light-category-text-color: #666;
$light-category-highlight-text-color: #636c6e;
$light-category-item-color: #fff;

/**
 * @dark theme
 */
$dark-background-color: #161616;
$dark-background-image: linear-gradient(20deg, #021c23 0%, #000000 19%, #394f52 42%, #000000 79%, #29271a 100%);
$dark-link-color: #bb72ec;

$dark-lightest-font-color: #fff;
$dark-light-font-color: #eeeeee;
$dark-middle-font-color: #d8d7d7;

$dark-text-shadow: 0 0 0.1px rgba(255, 255, 255, 0.3);
$dark-hover-text-shadow: 0 0 6px rgba(255, 255, 255, 0.2);

$dark-category-item-color: #282c35;
$dark-category-background-color: #101010;

$dark-category-border-color: #171616;
$dark-category-text-color: #d8d7d7;

$dark-category-highlight-border-color: #666;
$dark-category-highlight-text-color: #fff;
