@use '../../styles/mixins'as *;

.dark-mode-button-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.dark-mode-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #363f47;
  border: none;
  cursor: pointer;
  box-shadow: 0px 5px 25px rgb(0 0 0 / 12%);
  backdrop-filter: blur(30px);
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.95);
  }
}

.dark-mode-icon {
  color: white;
}
