@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.horizontal-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;

  .label {
    display: none;
    color: black;

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 0.5;
    animation-fill-mode: forwards;
  }

  .label:hover {
    color: #FF5C00;
  }

  .line {
    height: 1px;
    width: 150px;
    border: 0.5px solid black;
  }

  .list {
    position: absolute;
    top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    li {
      position: relative;
      width: 50px;
      display: flex;
      justify-content: center;
    }

    li:after {
      position: absolute;
      content: '';
      top: -10px;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 1px;
      height: 7px;
      border-left: 1.2px solid black;
    }
    
    .active:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #FF5C00;
      top: -11px;
      transform: translate(-50%, 0%);
      left: 50%;
      z-index: 2;
    }
  }
  
}

.horizontal-navigation:hover {
  .label {
    display: flex;
  }
}


