.vertical-navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 70px;
  margin: 75px 0px 0px 20px;
}

.vertical-navigation .label {
  color: var(--content-text-color);
}

.vertical-navigation .line {
  height: 86px;
  border: 0.5px solid var(--content-text-color);
  margin-left: 0;
}

.vertical-navigation .list {
  position: absolute;
  left: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}
.vertical-navigation .list li {
  position: relative;
  line-height: 1;
}
.vertical-navigation .list li:after {
  content: '';
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 8px;
  height: 0px;
  border-top: 1.2px solid var(--content-text-color);
}
.active:after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--highlight);
  top: 50%;
  transform: translate(0%, -50%);
  left: -14px;
  z-index: 2;
}